/* .wave-wrapper {
  position: absolute;   
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  z-index: 0;           
}

.wave-track {
  display: flex;
  width: 200%;
  position: absolute;
  bottom: 0;
}

.wave-track svg {
  flex-shrink: 0;
  width: 50%;
  height: 100%;
}


.wave-back {
  opacity: 0.5;
  animation: waveSlide 20s linear infinite;
  z-index: 1;
}


.wave-front {
  opacity: 0.8;
  animation: waveSlide 10s linear infinite;
  z-index: 2;
}

@keyframes waveSlide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.experience-section {
  position: relative; 
  z-index: 1;
  background: #fdfdfd; 
  padding-bottom: 120px; 
}

.experience-card {
  position: relative;
  z-index: 2; 
} */


@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
  margin: 0;
}

.header {
  position: relative;
  text-align: center;
  background: white;
  color: white;
}





.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  /* margin-bottom: -7px; */
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) { animation-delay: -2s; animation-duration: 7s; }
.parallax > use:nth-child(2) { animation-delay: -3s; animation-duration: 10s; }
.parallax > use:nth-child(3) { animation-delay: -4s; animation-duration: 13s; }
.parallax > use:nth-child(4) { animation-delay: -5s; animation-duration: 20s; }

@keyframes move-forever {
  0% { transform: translate3d(-90px,0,0); }
  100% { transform: translate3d(85px,0,0); }
}



/* Mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

}
